<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Tyrel Tachibana</display-name>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Failed_Login</servlet-name>
        <jsp-file>loginFailed.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Not_Found</servlet-name>
        <jsp-file>Not_Found.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>No_Access</servlet-name>
        <jsp-file>No_Access.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Failed_Login</servlet-name>
        <url-pattern>/Failed_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Not_Found</servlet-name>
        <url-pattern>/Not_Found</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>No_Access</servlet-name>
        <url-pattern>/No_Access</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Not_Found</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/No_Access</location>
    </error-page>
    <security-constraint>
        <display-name>File Restriction</display-name>
        <web-resource-collection>
            <web-resource-name>Restrict Direct File Access</web-resource-name>
            <description>Security</description>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
</web-app>
